:root{
    --colorFondo:#FFFEE9;
    --colorFondoDos:#fffef5;
    --colorClaro:#f8efd4;
    --colorOscuro:#edc988;
    --colorGris:#de4463;
    --colorNegro:#821752;
}

footer{
    background-color: var(--colorNegro);
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    
}

.container-footer{
    margin: auto;
    width: 80vh;
    height: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-section,.footer-redes{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer-section{
    width: 100%;
    justify-content: space-between;
}

.footer-list:visited{
    text-decoration: var(--colorFondo);
    color: var(--colorFondo);
}

.footer-redes{
    width: 70%;
    justify-content: space-evenly;
}


.icon-footer{
    background-color: var(--colorFondo2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--colorClaro);
}

.unico{
    margin-left: 5%;
}

.footer-pie{
    color: var(--colorFondo);
}


/* TRANSFORMACIONES */

.icon-footer:hover{
    background-color: var(--colorOscuro);
    border: 1px solid var(--colorFondo);
    color: var(--colorNegro);
    transition-duration: 1.5s;
}

.footer-list:hover {
    font-weight: 700;
}


@media(max-width:640px){
    .container-footer{
        width: 90%;
    }
}

@media(max-width:490px){
    .footer-section{
        display: none;
    }
    .container-footer{
       height: 15vh;
    }

    footer{
        height: 25vh;
    }

    .icon-footer{
        width: 40px;
        height: 40px;
    }
}