
:root{
    --colorFondo:#FFFEE9;
    --colorFondoDos:  #fffef5;
    --colorClaro:#f8efd4;
    --colorOscuro:#edc988;
    --colorGris:#de4463;
    --colorNegro:#821752;
}

 .project{
     width: 100vw;
     height: auto;
     background-color:var(--colorFondo);
     padding: 5%;
     padding-top:0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }

 .title-project{
     margin-top: 40%;
     margin-bottom: 10%;
     font-size: 3em;
     font-weight: 1000;
     font-family: 'Open Sans', sans-serif;
 }

 .project-p{
     width: 30vw;
     text-align: center;
 }

 .project-list{
     display: flex;
     flex-flow: row wrap;
     width: 80vw;
     height: auto;
     margin-top: 5%;
     justify-content: space-between;
     align-content: center;
     list-style: none;
     box-sizing: border-box;
 }

 
 .works{
    width: 340px;
    height: 300px;
    border: 1px solid var(--colorGris) ;
    border-radius: 10px;
    margin: 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    font-weight: 900;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}


/* IMAGENES */

.first{
    background-image: url(../img/zero.png);
    background-size: 90%;
}

.second{
    background-image: url(../img/second.svg);
}

.third{
    background-image: url(../img/third.svg);
}

.fourth{
    background-image: url(../img/fourth.svg);
}

.fifth{
    background-image: url(../img/fifth.svg);
}

.sixth{
    background-image: url(../img/sixth.svg);
}

.seventh{
    background-image: url(../img/seventh.svg);
}


/* TRANSFORMACIONES */

.works:hover{
    border: 2px solid var(--colorGris);
    border-radius: 10px;
    color: var(--colorGris);
    box-shadow: 0px 4px 18px -8px var(--colorNegro);
}


/* RESPONSIVE */

@media(max-width:1360px){
    .works{
        width: 290px;
        height: 250px;
    }
}

@media(max-width:1160px){
    .project-list{
        width: 80vw;
        justify-content: center;
    }
}



@media(max-width:370px){
    .title-project{
        font-size: 1.5em;
    }
}

@media(max-width:900px){
    .project-p{
        width: 270px;
    }
}

