:root{
    --colorFondo:#FFFEE9;
    --colorFondoDos: #fffef5;
    --colorClaro: #f8efd4;
    --colorOscuro: #edc988;
    --colorGris: #de4463;
    --colorNegro: #821752;
}


 .container-conocimientos{
     width: 100vw;
     height: auto;
     background-color:var(--colorFondoDos);
     padding: 10%;
     padding-top: 0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }

 h2{
     margin-top: 20%;
     font-size: 3em;
     font-weight: 1000;
     font-family: 'Open Sans', sans-serif;
}

 .conocimientos-p{
     width: 100vw;
     text-align: center;
     margin: 5%;
 }

 .list-language{
     display: flex;
     flex-flow: row wrap;
     width: 60vw;
     height: auto;
     justify-content: space-around;
     align-content: flex-end;
     list-style: none;
     box-sizing: border-box;
}

 .language{
     width: 250px;
     height: 210px;
     border: 1px solid var(--colorGris) ;
     border-radius: 10px;
     margin: 1%;
     display: flex;
     flex-direction: column-reverse;
     justify-content: space-evenly;
     align-items: center;
     padding: 2%;
     font-weight: 900;
     font-size: 25px;

}
 .colored{
    font-size: 80px; 
}


 /* TRANSFORMACION */

 .language:hover{
     border: 2px solid var(--colorGris);
     border-radius: 10px;
     color: var(--colorGris);
     box-shadow: 0px 4px 18px -8px var(--colorNegro);
}

 .language:hover .colored{
     transform: scale(1.1);
}

 .language:hover{
     font-size: 1.2em;
}


/* RESPONSIVE */


@media(max-width:900px){
    .language{
        width: 200px;
        height: 180px;
    }
    .conocimientos-p{
        width: 270px;
    }

    h2{
        font-size: 2em;
    }
}

@media(max-width:370px){
  
    .conocimientos-title{
        font-size: 1.5em;
    }
}