
:root{
    --colorFondo:#FFFEE9;
    --colorFondoDos:#fffef5;
    --colorClaro:#f8efd4;
    --colorOscuro:#edc988;
    --colorGris:#de4463;
    --colorNegro:#821752;
}

.usuario{
    background-color: var(--colorFondoDos);
    width: 100vw;
    height: auto;
}

.container{
    background-color: var(--colorFondo);
    width: 80vw;
    height: auto;
    margin: 15% auto;
    border: 0.5px solid wheat;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-social{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    height: 80%;
    margin: 1%;
    justify-content: space-between;
}
.contact-title{
    margin-top: 10%;
    margin-bottom: 5%;
}

.links{
    display: flex;
    flex-flow: column wrap;
    height: 30vh;
    justify-content: space-between;
    list-style: none;
    margin: 5%;
    margin-top: 10%;
}

.icon{
    color: var(--colorGris);
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-envelope{
    padding: 0;
    margin: 0;
}


.redsocial{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: auto;
    /* background-color: violet; */
    flex-wrap: nowrap;
}

.red{
    padding-top: 5px;
    padding-left: 15px;
}


/* TRANSFORMACION */

.icon:hover{
    transform: scale(1.5);
    border-radius: 50%;
}

.red:hover{
    color: var(--colorGris);
}



/* FORMULARIO */

form{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    justify-content: space-between;
    font-weight: 800;
}
.container-form{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
}

.form-title{
    margin-top: 10%;
}

input{
    border-radius: 50px;
    border: 1px solid wheat;
    height: 5vh;
    margin: 5px;
    background-color: var(--colorFondoDos);
    padding: 3%;
}


.fullname{
    width: 97%;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.name{
    width: 40%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.lastname{
    width: 40%;
    margin: 1%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.email, .msj{
    display: flex;
    flex-flow: column wrap;
    width: 97%;
}

textarea{
    margin:5px;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: var(--colorFondoDos);
    padding: 3%;
}


 /* BUTTON  */

.submit{
    color: white;
    background-color: var(--colorNegro);
    width: 30%;
    height: 12%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.submit:hover{
    background-color: var(--colorGris);
    
}

.submit:active{
    box-shadow: 0px 4px 18px 1px var(--colorNegro);

}

.submit:focus{
    outline: none;
    font-weight: 700;    
}


/* FOCUS */

textarea:focus{
    border:1px solid var(--colorGris);
    outline: none;
}
input:focus{
    border:1px solid var(--colorGris);
    outline: none;
}


/* RESPONSIVE */


/* CONTACTO */

@media(max-width:900px){
    .container{
        flex-direction: column;
        border: none;
        background-color: var(--colorFondo2);
        margin: 1%;
        width: 100%;
    }
    .contact-social{
        width: 100%;
        margin: auto;
        height: auto;
        justify-content: space-between;
    }
    h2{
        font-size: 3em;
    }

    .contact-p{
        width: 60%;
    }
    
    .links{
        flex-flow: row wrap;
        height: 20vh;
        margin-top: 5%;
        width: 60vw;
    }

    .redsocial{
        width: 30vw;
    }

    .fa-envelope{
        padding-left: 3%;
    }
}


@media(max-width:650px){
    .links{
        flex-direction: column;
        height: 30vh;
    }

    .contact-p{
        width: 100%;
    }
}

@media(max-width:370px){
  
    .contact-title{
        font-size: 1.5em;
    }
}



/* FORMULARIO */

@media(max-width:900px){
    form{
        width: 100%;
    }

    .form-title{
        margin-bottom: 5%;
    }
}


@media(max-width:650px){
    .fullname{
        flex-direction: column;
    }
    .name{
        width: 100%;
    }
    .lastname{
        width: 100%;
    }
}

@media(max-width:370px){
  
    .form-title{
        font-size: 1.5em;
    }
}