
:root {
    --colorFondo: #FFFEE9;
    --colorFondoDos:  #fffef5;
    --colorClaro: #E9B093;
    --colorOscuro: #E78E6C;
    --colorGris: #64707E;
    --colorNegro: #272B2E;
}


 .container-conocimientos{
     width: 100vw;
     height: auto;
     background-color:var(--colorFondoDos);
     padding: 10%;
     padding-top: 0;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }

 h2{
     margin-top: 20%;
     font-size: 3em;
     font-weight: 1000;
     font-family: 'Open Sans', sans-serif;

 }

 .conocimientos-p{
     width: 100vw;
     text-align: center;
     margin: 5%;
 }

 .lenguajes{
     display: flex;
     flex-flow: row wrap;
     width: 60vw;
     height: auto;
     justify-content: space-around;
     align-content: flex-end;
     list-style: none;
     box-sizing: border-box;
     /* background-color: yellow; */
     
 }

 .language{
     width: 250px;
     height: 210px;
     border: 1px solid var(--colorGris) ;
     border-radius: 10px;
     margin: 1%;
     display: flex;
     flex-direction: column-reverse;
     justify-content: space-evenly;
     align-items: center;
     padding: 2%;
     font-weight: 900;
     font-size: 25px;

}
 .colored{
    font-size: 80px; 
  
 }

 .language:hover{
     border: 1px solid var(--colorOscuro);
     border-radius: 10px;
     color: var(--colorOscuro);
 
 }





@media(max-width:900px){
    .language{
        width: 200px;
        height: 180px;
    }
    .conocimientos-p{
        width: 270px;
    }

    h2{
        font-size: 2em;
    }
}

@media(max-width:370px){
  
    .conocimientos-title{
        font-size: 1.5em;
    }
}